.main {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    height: 3rem;
    border-top: solid 0.05rem black;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    justify-content: space-between;
}

.title h3 {
    font-weight: 300;
}

.title:hover {
    background-color: lightgray;
}

.icon {
    margin: 1rem;
}

.hidden {
    display: None;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: start;
}

.contentDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.blurb {
    margin-bottom: 1rem;
}

.image {
    margin: 2rem;
}

.bullets {
    margin-left: 1rem;
}

